
.auth-modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(15px);
  background-color: #000;
}

.modal-content {
  background: #ffde00; 
  border-radius: 10px;
  padding: 40px;
  max-width: 50vw;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

.login-signUp-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
  max-width: 80vw;
  margin: 0 auto;
}

.login-signUp-text-div, .login-signUp-function-div {
  flex: 1;
}

.login-signUp-text-div {
  color: black;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.login-signUp-text-div h1 {
  font-size: 68px;
  font-weight: 600;
  margin: 0;
  color: #000;
  text-align: left;
}

.login-signUp-text-div p {
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  text-align: center;
}

.divider-div {
  height: 40vh;
  width: 4px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  margin-right: 1vw; 
}

.login-signUp-function-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
}

.login-signUp-function-div h1 {
  color: black;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}

.phone-input-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.phone-input-container input {
  width: 20vw;
  font-size: 18px;
  border: 2px solid black;
  padding: 10px;
  margin-top: 1vh;
  text-align: center;
}


.login-signUp-signin-div {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  color: #000;
}

.login-signUp-signin-div span {
  font-size: 16px;
  margin-right:0.5vw ;
}

.login-signUp-signin-div a {
  color: #000;
  text-decoration: underline;
  cursor: pointer;
}

.submit-button {
  background-color: black;
  color: rgba(255, 255, 255, 0.908);
  border: none;
  padding: 10px 15px;
  width: 20vw;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #333;
}

.form-input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.phone-input-container input{
  background-color: transparent;
  border: 3px solid rgba(0, 0, 0, 0.674);
  color: black;
  font-size: 20px;
  font-weight:500;
  border-radius: 10px;
  padding: 5px 10px;
}

.phone-input-container input::placeholder{
  color: black;
  font-size: 20px;
  font-weight:500;
}

.form-label {
  margin-top: 10px;
  font-size: 14px;
  color: black;
}

.step2{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #000;
}

.step2 input{
  background-color: transparent;
  color: black;
  padding: 5px 10px;
  border: 2px solid rgba(0, 0, 0, 0.766);
  border-radius: 10px;
}

.step2 input::placeholder{
  color: black;
}

/* .otp-input {
  width: 100%;
}

.otp-input input {
  width: 40px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  margin: 0 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
} */
.step3{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.signup-text-div {
  flex: 1;
  max-width: 21vw;
  min-width: 21vw;
  padding-right: 10px;
  padding-left: 20px;
  color: black;
  border-radius: 1.1%;
  margin-right: 2vw;
  height: 50vh;
  display: flex;
  flex-direction: column ;
  justify-content: center;
  align-items: left;
}

.signup-text-div h1 {
  font-size: 70px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #000;
  padding-right: 40px;
}

.signup-text-div p {
  font-size: 18px;
  line-height: 1.5;
  margin: 5px 0px;
  color: #000;
}

.signup-form-div{
  display: flex;
  flex-direction: column;
  max-width: 21vw;
  min-width: 21vw;
  height: 100%;
  padding: 30px;
}

.signup-input-div input{
  background-color: transparent;
  border: 3px solid rgba(0, 0, 0, 0.674);
  color: black;
  font-size: 20px;
  font-weight:500;
  border-radius: 10px;
}

.signup-input-div input::placeholder{
  color: black;
  font-weight:500;
}

textarea:focus, input:focus{
  outline: none;
}

.signup-submit-button{
  background-color: transparent;
  border: 3px solid rgba(0, 0, 0, 0.674);
  color: black;
  padding: 5px 15px 5px 15px;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.terms-conditions{
  margin-top: 1vh;
  color: black;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.terms-conditions input{
  margin-left: 0.5vw;
}

.close-button {
  position: absolute;
  top: 15px;
  right: 30px;
  font-size: 24px;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
}

@media (max-width: 1450px) {
  .modal-content {
    background: #ffde00; 
    border-radius: 10px;
    max-width: 60vw;
    justify-content: center;
    align-items: center;
  }

  .login-signUp-text-div h1 {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #000;
  }
  
  .login-signUp-text-div p {
    font-size: 16px;
    line-height: 1.5;
    margin: 5px 0;
    color: #000;
  }

  .signup-caption-div h1{
    font-size: 26px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    color: #000;
  }

  .signup-form-div{
    max-width: 24vw;
    min-width: 24vw;
    height: 100%;
    padding: 30px;
  }

  .signup-input-div input{
    font-size: 20px;
    font-weight:500;
    border-radius: 10px;
    padding: 5px 10px;
  }

  .signup-input-div input[type = "text"],
  .signup-input-div input[type = "number"],
  .signup-input-div input[type = "email"],
  .signup-submit-button
  {
    min-width: 200px;
  }
}

@media (max-width: 950px) {

  .modal-content {
    height: auto;
    min-height: 70vh;
    border-radius: 5px;
    max-width: auto;
    align-items: center;
    justify-content: flex-start;
  }

  .login-signUp-div {
    flex-direction: column;
    gap: 0px;
    max-width: 400px;
    height: 40vh;
    /* background-color: #ccc; */
    }

  .login-signUp-text-div {
    border-right: 0px;
    align-items: center;
    padding-right: 0px;
  }

  .login-signUp-text-div h1{
    text-align: center;
    font-size:30px;
    font-weight: 600;
    width: 60vw;
  }

  .login-signUp-text-div h1 br{
    display: none;
  }

  .login-signUp-text-div p {
    font-size: 100px;
    margin: 0px;
    color: #000;
    width: 60vw;
  }

.login-signUp-text-para-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-signUp-text-div p {
  text-align: center;
  font-size: 14px;
  margin: 0px;
}

.phone-input-container input{
  margin-top: 2vh;
  width: 55vw;
  max-width: 250px;
  min-width: 50px;
  /* padding-left: 20px; */
  border: 2px solid rgba(0, 0, 0, 0.674);
  font-size: 15px;
  font-weight:500;
  height: 4vh;
  border-radius: 5px;
}

.phone-input-container input::placeholder{
  font-size: 15px;
}

  .divider-div{
    height: 0.5vh;
    min-height: 3px;
    min-width: 200px;
    max-width: 450px;
    margin: 10px 0px;
  }


  .login-signUp-function-div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2vh;
    width: 90%;
  }


.login-signUp-function-div h1{
  font-size: 15px;
  text-align: center;
}

.submit-button {
  width: 55vw;
  max-width: 250px;
  padding: 5px 15px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.834);
}

  .login-signUp-signin-div span {
    font-size: 15px;
    margin-right: 0vw;
  }

  /* .step3 {
    padding-top: 4vh;
    padding-bottom: 4vh;
    flex-direction: column;
    max-height: 80vh;
  } */

  /* .signup-text-div{
    border-right: 0px;
    align-items:center;
    text-align: center;
    padding-right: 0px;
    padding-bottom: 40px;
    max-width: 90vw;
    width: 100%;
  } */
/* 
  .signup-text-div h1 {
    font-size: 36px;
    font-weight: 600;
    color: #000;
    text-align: center;
    padding-right: 0px;
  }

.signup-text-div p {
  font-size: 15px;
  line-height: 1.5;
  margin: 0px 0px;
  color: #000;
} */

.signup-caption-div h1{
  font-size: 18px;
  font-weight: 700;
  margin-top: 2vh;
  width: 100%;
  color: #000;
}

.signup-form-div{
  max-width: 90vw;
  height: 100%;
  padding: 5px;
}

.signup-input-div input{
  border: 2px solid rgba(0, 0, 0, 0.674);
  font-size: 15px;
  font-weight:500;
  height: 4vh;
  border-radius: 5px;
}

.terms-conditions{
  align-items: center;
}

.signup-submit-button{
  background-color: rgba(0, 0, 0, 0.917);
  color: #ffde00;
  font-weight: 300;
  padding: 0px;
}

.close-button{
  font-size: 16px;
  top: 10px;
  right: 15px;
}
}
