
  .end-section-content {
    height: 93vh;
    width: 100vw;
    text-align: center;
    background-size: contain;
    background-position: center;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .end-page {
    text-align: center;
  }
  
  .end-page h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  .end-page p {
    font-size: 1.5em;
  }
  
  .end-page button {
    padding: 10px 20px;
    font-size: 1.2em;
    margin-top: 20px;
    cursor: pointer;
  }
  
  