.start-page-content {
    height: 93vh;
    width: 100vw;
    text-align: center;
    background-size: contain;
    background-position: center;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    position: relative;
  }
  .start-page-content h1 {
    font-size: 1.3rem; /* Large text size */
    font-weight: bold; /* Bold font */
    color: #fff; /* White color for contrast */
    margin: 20px 0; /* Add vertical spacing */
  }
  
  .start-button {
    background: var(--primary-color);
    width: 80vw;
    height: 6vh;
    border: none;
    font-size: 1.5rem;
    color: var(--secondary-color);
    font-weight: bold;
    border-radius: 13px;
    border: 2px solid var(--secondary-color);
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .spinner-container {
    height: 93vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }