.reels-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #121212;
  color: #fff;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.reel-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh; /* Make sure each reel takes up the full screen */
  background-color: #000;
}

.reel-video {
  height: 100%;
  object-fit: contain; /* Ensure the video covers the entire container */
}

.reel-details {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  text-align: center;
}

.profile-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Adjusted spacing */
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
  margin-right: 10px;
}

.profile-name {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.reel-description {
  font-size: 1em;
  color: #adabab;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .reels-page {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  .reel-container {
    width: 100vw;
    height: 100vh;
  }

  .profile-image {
    width: 40px;
    height: 40px;
  }

  .profile-name {
    font-size: 1em;
  }

  .reel-description {
    font-size: 0.8em; /* Slightly larger for readability on smaller screens */
  }
}
