.store-page {
  background-color: var(--primary-color);
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.store-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  margin-top: 10vh;
}

.store-header {
  width: 100vw;
  height: 25vh;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.store-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}


.store-info-card {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin: -7vh auto 20px;
  padding: 15px;
  width: 60vw;
  height: 15vh;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.ant-card-body {
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
}

.store-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 !important;
  padding: 0 !important;
}

.store-description {
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9rem;
  display: block; 
}

.store-area {
  font-style: italic;
  color: var(--secondary-color);
  display: block; 
}


.store-icons-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  height: 100%;
  padding-right: 10px;
  color:var(--secondary-color) 
}
/* Alternatively, for individual icon adjustments */
.icon-share {
  
  color: var(--secondary-color) ;
}

.icon-phone {
  
  color: var(--secondary-color) ;
}

.icon-location {
  color: var(--secondary-color) ;
}


@media (max-width: 850px) {
  .store-info-card {
    width: 95vw;
  }
}
