/* StorePage.css */

/* General Store Page Layout */
.store-page {
  background-color: var(--primary-color);
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.store-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  margin-top: 10vh;
}

.store-header {
  width: 100vw;
  height: 25vh;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.store-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.store-info-card {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin: -7vh auto 10px;
  padding: 15px;
  width: 60vw;
  height: auto;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.ant-card-body {
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
}

.store-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 !important;
  padding: 0 !important;
}

.store-description {
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9rem;
  display: block; 
}

.store-area {
  font-style: italic;
  color: var(--secondary-color);
  display: block; 
}

.store-icons-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  height: 100%;
  padding-right: 10px;
  color: var(--secondary-color);
}
/* Offers Section Styling */
.offers-section {
  width: 100%; 
  /* width: 60vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px auto; 
  overflow-y: hidden;
}

.offers-header {
  display: flex;
  width: 60vw;
  max-width: 90vw; 
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.offers-carousel {
  width: 40vw; 
  display: flex;
  justify-content: center;
  overflow-y: hidden;
}

.carousel-slide-container {
  display: flex;
  justify-content: center;
  padding: 0 5px;
}

.carousel-slide {
  min-width: 220px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Offers Header */
.offers-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.offers-title {
  font-size: 18px;
  font-weight: bold;
  color: var(--secondary-color);
  margin: 0 !important;
}

.view-all-button {
  font-size: 14px;
  color: var(--secondary-color);
  cursor: pointer;
  text-decoration: underline;
}

/* Responsive adjustments */
@media (max-width: 800px) {
  .store-info-card {
    width: 95vw;
  }
.offers-header{
  width: 90vw;
}
  
  .offers-carousel {
    width: 90vw;
   
  }
}

