.react-tel-input .country-list .country {
  background-color: #ffea35 !important; /* Set the background to yellow */
  color: black !important; /* Keep the text color black */
}

/* CSS to remove hover effect */
.react-tel-input .country-list .country:hover {
  background-color: #ffea35 !important; /* Keep background color the same on hover */
  color: black !important; /* Keep text color black on hover */
}
