/* Carousel Container */
.carousel-container {
  width: 100vw; 
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

/* Carousel Inner */
.carousel,
.carousel-image {
  width: 60vw;
  height: 30vh;
  border-radius: 13px;
  object-fit: fill; /* Ensures image scales properly */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Adjustments for Mobile Screens */
@media (max-width: 850px) {
  .carousel,
  .carousel-image {
    width: 95vw;
    height: 15vh;
  }
}
