/* src/components/Categories.css */
.categories-container {
    width: 100%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    text-align: center;
    color: #ffffff;
    max-width: 95vw;
    border-radius: 10px;
    overflow-x: scroll;
    overflow: hidden;
    padding: 10px;
  }
  
.categories-list::-webkit-scrollbar {
  display: none;
}
  
  .categories-title {
    font-size: 1.5em;
    color: #ffc107; /* Match the color for title */
  }
  
  .categories-list {
    display: flex;
    overflow-x: auto; /* Make the list horizontally scrollable */
    padding: 10px;
    scroll-behavior: smooth;
    white-space: nowrap; /* Prevent items from wrapping */
    align-items: center; /* Center items vertically */
  }
  
  .selected-item {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 15px; /* Space between items */
    text-align: center;
    width: 10vw;
  }

  .selected-item  .category-icon{
    background-color: #ffc107;
  }

  .category-item {
    display: inline-flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    text-align: center;
    margin: 0 15px; /* Space between items */
    width: 10vw;
  }
  
  .category-icon {
    width: 10vw; /* Adjust the size of the icons */
    height: 10vw;
    padding: 10px;
    max-width: 80px; /* Set a maximum width */
    max-height: 80px; /* Set a maximum height */
    border-radius: 50%;
    background-color: whitesmoke; /* Placeholder color for icons */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  

  .category-name {
    overflow-y: auto;
    margin-top: 10px;
    font-size:1em;
    color: #ffc107; /* Match the color for category name */
  }
  
  @media (max-width: 768px) {

    .selected-item {
      margin: 0 10px; 
      width: 25vw;
      justify-content: flex-start;
      white-space: normal; /* Allow text to wrap */
      text-align: center;
      height: 35vw;
      font-size: 14px;
      padding: 0px;
    }

    .category-item {
      margin: 0 10px;
      width: 25vw;
      justify-content: flex-start;
      white-space: normal; /* Allow text to wrap */
      height: 35vw;
      font-size: 14px;
    }

    .category-icon {
      width: 15vw; 
      height: 15vw;
    }
  }