.categories-container {
  width: 95%;
  padding: 15px 0;
  display: flex;
  justify-content: center; /* Center the categories list on desktop */
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; 
}

.categories-list {
  
  display: flex;
  align-items: center;
  justify-content: center; /* Center the list */
  width: max-content; /* Ensure list fits its content */
}

.category-item,
.selected-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10vh;
  height: 10vh;
  border: 2px solid var(--secondary-color);
  border-radius: 13px;
  margin-right: 15px;
  background-color: var(--primary-color);
  text-align: center;
  cursor: pointer;
}

.selected-item {
  background-color: var(--secondary-color); /* Selected category background */
}

.category-icon {
  width: 50%; /* Icon size relative to the container */
  height: 50%;
  object-fit: contain;
}

.category-name {
  font-size: 12px;
  color: var(--secondary-color);
}

.selected-item .category-name {
  color: var(--primary-color); /* Text color when selected */
}
@media (max-width : 850px) {
  .category-item,
  .selected-item {
    width: 10vw; /* Adjusted width for mobile */
    height:10vw; /* Adjusted height for mobile */
    margin-right: 10px; /* Reduced margin */
  }
  .categories-container {
    justify-content: flex-start; /* Ensure the list starts from the first element on mobile */
    padding-left: 0;
    margin-left: 0;
  }

  .categories-list {
    justify-content: flex-start; /* Align categories to the start on mobile */
  }
  .category-icon {
    width: 50%;
    height: 50%;
  }

  .category-name {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .categories-container {
    justify-content: flex-start; /* Ensure the list starts from the first element on mobile */
    padding-left: 0;
    margin-left: 0;
  }

  .categories-list {
    justify-content: flex-start; /* Align categories to the start on mobile */
  }

  .category-item,
  .selected-item {
    width: 17vw; /* Adjusted width for mobile */
    height:17vw; /* Adjusted height for mobile */
    margin-right: 10px; /* Reduced margin */
  }

  .category-icon {
    width: 50%;
    height: 50%;
  }

  .category-name {
    font-size: 10px;
  }
}

/* Hide scrollbar */
.categories-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar on WebKit browsers */
}

.categories-container {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}
