/* Redirection Section */
.redirection-section {
  display: flex;
  align-items: center;
  width: 60vw;
  justify-content: center;
}

.chips-container {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 5px;
  scrollbar-width: none;
}
.chips-container::-webkit-scrollbar {
  display: none;
}

.chips-container.expanded {
  flex-wrap: wrap;
  overflow-x: visible;
}

.chip {
  padding: 8px 12px;
  border-radius: 10px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  cursor: pointer;
  white-space: nowrap;
}

.dropdown-button {
  padding: 8px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
}



/* Overlay Section */
.overlay-section {
  margin: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  width: 60vw;
}

.overlay-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.overlay-group-title {
  font-size: 1.2em;
  color: var(--secondary-color);
  text-align: left;
  font-weight: 400;
  padding: 5px 0;
}

.overlay-horizontal-scroll {
  display: flex;
  overflow-x: auto;
  height: 25vh;
  gap: 10px;
  padding: 5px 0;
  width: 100%;
}

.overlay-horizontal-scroll::-webkit-scrollbar {
  display: none;
}

/* Divider Styling */
.section-divider {
  background-color: var(--secondary-color);
  height: 1px;
  border-radius: 50%;
  opacity: 0.5;
  margin: 5px 0;
}

/* Individual Overlay Item */
.overlay-item {
  flex: 0 0 auto; /* Prevents item from stretching */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
  max-height: 100%; /* Keeps items within the scrollable height */
}

/* Media Styling */
.overlay-image,
.overlay-video {
  max-height: 100%; /* Fits the media to container height */
  max-width: 100%; /* Prevents media from exceeding container width */
  object-fit: contain; /* Ensures aspect ratio is maintained */
  border-radius: 8px;
  border: 1px solid var(--secondary-color);
}


/* Modal-Specific Styling */
.overlay-modal .modal-overlay-content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-overlay-content img,
.modal-overlay-content video {
  max-height: 90vh;
  max-width: 100%;
  object-fit: contain;
  border-radius: 8px;
}

@media (max-width: 800px) {
  .redirection-section { width: 95vw; }
  .overlay-section { width: 95vw; }
  .modal-overlay-content img, .modal-overlay-content video {
    max-width: 95vw;
  }
}
