#logo{
    margin-left: 5vw;
}

#login-nav:hover{
    background-color: gold;

}

#login-nav:active{
    background-color:darkgoldenrod;
}

@media screen and (max-width: 645px) {
    #nav{
        justify-content: space-between;
    }
    #logo{
        height: 30px;
    }
}