.offers-tab-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  
}

.offers-tab-grid-container {
  width: 60vw;
}

.offer-placeholder-text {
  color: var(--secondary-color);
  text-align: center;
  font-size: 16px;
  padding: 20px;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .offers-tab-grid-container {
    width: 95%;
  }
  .offers-tab-container {
    width: 95vw;
  }
}
