/* Search Form */
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  border: 2px solid var(--secondary-color);
  border-radius: 13px;
  padding: 10px;
  background-color: var(--primary-color);
  width: 60vw; /* Default width for desktop */
  height: 60px; /* Default height for desktop */
}

/* Input Container */
.input-container {
  display: flex;
  flex: 1;
  min-width: 0;
  align-items: center;
}

/* Location Input Wrapper */
.input-wrapper-location {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%; /* Location occupies 30% */
  padding: 10px;
  height: 100%;
  border-radius: 5px;
}

/* Search Input Wrapper */
.input-wrapper-search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%; /* Search occupies the remaining 65% */
  padding: 10px;
  height: 100%;
  border-radius: 5px;
}

/* Divider */
.divider {
  width: 2px;
  height: 40px; /* Divider height adjusted for desktop */
  background-color: var(--secondary-color);
  margin: 0 10px;
}

/* Input Fields */
.input-location,
.input-search {
  font-size: 16px;
  width: 100%;
  outline: none;
  color: var(--secondary-color);
  background-color: transparent;
}

/* Placeholder Styling */
input::placeholder {
  color: var(--secondary-color);
}

/* Search Button */
.search-button {
  padding: 0px 10px;
  width: 100px;
  height: 40px;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease-in;
}

/* Button Hover Effect */
.search-button:hover {
  background-color: var(--secondary-color);
}

/* Mobile Adjustments */
@media (max-width: 768px) {
  .search-form {
    width: 95vw; /* Full width on mobile */
    height: 50px; /* Smaller height on mobile */
  }

  .divider {
    height: 30px; /* Smaller divider for mobile */
  }

  .input-wrapper-location {
    width: 35%; /* Adjust location width to 35% */
  }

  .input-wrapper-search {
    width: 60%; /* Adjust search width to 60% */
  }

  .input-location,
  .input-search {
    font-size: 14px; /* Adjust font size for mobile */
  }

  .search-button {
    padding: 0px;
    width: 80px; /* Smaller button on mobile */
  }
}
