/* src/components/Tabs.css */
.tabs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color); /* Background color for the tab container */
  border-radius: 13px;
  overflow: hidden;
  width: 50vw;
  height: 5vh;
  margin: 0 auto;
  padding: 4px;
  position: sticky; /* Makes the container sticky */
  top: 0; /* Sticks to the top of the viewport */
  z-index: 1000; /* Ensures it stays above other content when scrolling */
}

.tab {
  display: flex;
  align-items: center; /* Center text vertically */
  justify-content: center; /* Center text horizontally */
  padding: 10px 20px;
  cursor: pointer;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-size: medium;
  flex: 1;
  text-align: center;
  border-radius: 13px;
}

.tab.active {
  background-color: var(--primary-color); /* Active tab background color */
  color: var(--secondary-color); /* Active tab text color */
  height: 90%; /* Make the active tab 90% of the normal tab height */
  border-radius: 10px; /* Rounded corners for active tab */
}

.tab-content-container {
  position: relative;
  margin: 10px 0px;
}
@media screen and (max-width: 850px) {
  .tabs-container {
    width: 90vw;
  }
}
