.navbar{
    
  background-color: var(--secondary-color);
  
}

body, html, #root, .app {
  background-color: var(--primary-color); 
  padding: 0%;
  height: auto;
  scrollbar-width: none;
}

body::-webkit-scrollbar, 
html::-webkit-scrollbar,
.app::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}

/* App.css */
.no-scroll {
  overflow: hidden;
  height: 100vh;
}
