@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary-color: #FBF5EB;
  --secondary-color: #1D1D1D;
  --background-color: #FBF5EB;
  --text-color: #1D1D1D;
  --font-family: 'Giphurs', sans-serif;
}